<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <title></title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <form action="/users" method="get"><input type="submit" value="home"></form>
        <form action="/logout" method="get"><input type="submit" value="logout"></form>
        <h1>Welcome to {{user['alias']}}'s page!</h1>
      </header>
    <section>
      <article>
        <div class="userinfo">
          <p><h3>Name:  {{user['name']}}</h3></p>
          <p><h3>Alias:  {{user['alias']}}</h3></p>
          <p><h3>Email:  {{user['email']}}</h3></p>
          <p><h3>Date of Birth:  {{user['dob']}}</h3></p>
          <p><h3>Admininistration level:  {{user['admin']}}</h3></p>
        </div>
      </article>
      <aside>
      </aside>
    </section>
    <footer>
    </footer>
  </div>
  </body>
</html>
